.contact-body {
  background: rgba(255, 252, 232, 1);
}

.contact-form-container {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}

.top-head {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #234311;
}
.top .icons {
  margin-top: 0.5rem;
}

.top .links-1 {
  background-color: transparent;
  color: #427027;
  font-size: 1.4rem;
  margin-right: 1.4rem;
  font-weight: bolder;
  cursor: pointer;
  transition: all 1s;
}

.top .links-1:hover {
  background: #777;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  transform: scale(1.5);
}

.bottom {
  margin-top: 2rem;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.bottom .form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom form {
  padding: 1rem 2rem;
  flex-basis: 60%;
}

.bottom-content {
  flex-basis: 20%;
  padding: 20px;
}
.bottom-head {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  padding: 2rem 0;
  color: #234311;
}
.bottom form input {
  width: 383px;
  height: 52px;
  padding: 20px;
  display: block;
  background-color: rgba(255, 252, 232, 1);
  border-radius: 4px;
  border: none;
  outline: none;
  margin-bottom: 1.4rem;
}

textarea {
  background: rgba(255, 252, 232, 1);
  padding: 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 383px;
  height: 176px;
}
.bottom form input::placeholder {
  font-size: 1rem;
}
textarea::placeholder {
  font-size: 1rem;
}
.bottom form button {
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 15px 0;
  background: #638935;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: all 1s;
}

.bottom form button:hover {
  animation: bounce 1s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-10px) translateX(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  40% {
    transform: translateX(-3px) translateY(3px);
  }

  80% {
    transform: translateY(5px) translateX(-3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateY(2px) translateX(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.bottom-t,
.bottom-d {
  display: flex;
  align-items: center;
  color: #638935;
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0;
  transition: all 1s;
}

.bottom-t:hover,
.bottom-d:hover {
  background: #638935c9;
  color: #ffffff;
  padding: 3px 15px;
  border-radius: 30px;
}

.bottom-t:hover .b-icon,
.bottom-d:hover .b-icon {
  color: #ffffff;
}

.b-icon {
  color: #638935;
  font-size: 0.9rem;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .contact-form-container {
    width: 70%;
  }

  .top-head {
    font-size: 35px;
  }

  .top .icons {
    width: 30%;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  /*  */
  .contact-form-container {
    width: 100%;
    padding: 0 20px;
  }

  .top-head {
    font-size: 27px;
  }

  .top .icons {
    width: 100%;
    margin-top: 10px;
  }

  .bottom {
    flex-direction: column;
  }

  .bottom .form-wrapper {
    width: 100%;
  }

  .bottom form {
    padding: 0;
    width: 100%;
    padding: 0 10px;
  }

  .bottom form input {
    width: 100%;
  }

  .bottom form textarea {
    max-width: 300px;
  }

  .icons {
    margin-left: 0;
  }
  /* .bottom {
    margin-top: 4rem;
    width: 562px;
    height: 630px;
  } */
  /* .bottom-head {
    margin-left: 17rem;
  } */
  /* .bottom form input {
    width: 283px;
    height: 52px;
    margin-left: 18rem;
  } */
  /* textarea {
    margin-left: 18rem;
    width: 283px;
    height: 176px;
  } */
  /* .bottom form button {
    width: 283px;
    height: 68px;
    margin-left: 18rem;
    font-size: larger;
    font-weight: 400;
  } */
  /* .bottom-content {
    position: relative;
    top: 0;
    right: 6.6rem;
  } */

  /* .bottom-t h2 {
    font-size: 1.3rem;
  } */

  /* .bottom-d h2 {
    font-size: 1.3rem;
  } */
  /* .b-icon {
    font-size: 1.3rem;
  } */
}
