/* About us */
.about-us-head{
    margin-top: 5rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    /* identical to box height */
    color: #3F781E;
}
.about-us-body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #303030;
    margin-bottom: 2rem;
}
.about-us-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 4px;
    background: #234311;
    color: white;
    border-radius: 0px 10px 10px 10px;

}

/* Value */
.value{
    margin-top: 5rem;
    display: flex;
}
.value-img{
    width: 474px;
    height: 655px;
    border-radius: 8px;
}
.value-content{
    /* margin: 8rem; */
    margin-left: 8rem;
    margin-top: 3rem;
}
.value-content-first{
    display: flex;
    margin-bottom: 2rem;
}
.value-png{
    width: 36px;
    height: 36px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.value-head{
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

    color: #3F781E;
}
.value-body{
    width: 593px;
    height: 144px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #234311;
}
.value-stack-content1{
    display: flex;
    flex-direction: row;
}
.value-stack-content2{
    display: flex;
    flex-direction: row;
    margin-top: 1.8rem;
}
.value-stack-one{
    width: 290px;
    height: 157px;
    background: #F2CC8F;
    border-radius: 0px 10px 10px 10px;
}
.value-stack-one-content{
    margin-top: 4rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;
    color: #303030;
}
.value-stack-two{
    width: 290px;
    height: 157px;
    margin-left: 2rem;
    background: #81B29A;
    border-radius: 0px 10px 10px 10px;
}
.value-stack-two-content{
    text-align: center;
    margin-top: 4rem;
    margin-left: 3rem;
    width: 167px;
    height: 29px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;

    color: #F3F0DD;
}
.value-stack-three{
    width: 290px;
    height: 157px;

    background: #81B29A;
    border-radius: 0px 10px 10px 10px;
}
.value-stack-three-content{
    margin-top: 4rem;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #F3F0DD;

}
.value-stack-four{

    width: 290px;
    height: 157px;

    background: #81B29A;
    border-radius: 0px 10px 10px 10px;
}
.value-stack-four-content{
    margin-top: 4rem;
    margin-left: 2rem;
    width: 194px;
    height: 29px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    /* identical to box height */
    color: #F3F0DD;
}
.value-stack-four{
    width: 290px;
    height: 157px;
    background: #81B29A;
    border-radius: 0px 10px 10px 10px;
    margin-left: 2rem;
}
.value-stack-four-content{
    margin-top: 4rem;
    margin-left: 3rem;
    width: 171px;
    height: 29px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    /* identical to box height */


    color: #F3F0DD;
}
/* team */
.teams{
    padding-top: 9rem;
}
.team-content-1{
    display: flex;
    margin-bottom: 2rem;
}
.team-content-2{
    display: flex;
}
.team-content-3{
    display: flex;
}
.team-png{
    width: 36px;
    height: 36px;
}
.team-head{
    margin-left: 2rem;
    margin-top: 0.4rem;
    width: 209px;
    height: 38px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

    color: #3F781E;
}
.team-body{
    width: 593px;
    height: 96px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #234311;
}
.team-stack-content1{
    display: block;
    
}
.team-stack-content2{
    display: block;
    margin-left: 3rem;
}
.team-stack-one{
    margin-bottom: 5.8rem;
    text-align: center;
    margin-top: 6rem;
    width: 290px;
    height: 353px;
    background: #F2CC8F;
    border-radius: 0px 10px 10px 10px;
}
.team-stack-two{
    text-align: center;
    width: 290px;
    height: 353px;
    background: #81B29A;
    border-radius: 0px 10px 10px 10px;
}
.team-stack-three{
    margin-bottom: 5.7rem;
    text-align: center;
    width: 290px;
    height: 353px;
    background: #81B29A;
    border-radius: 0px 10px 10px 10px;
}
.team-stack-four{
    text-align: center;
    width: 290px;
    height: 353px;
    background: #81B29A;
    border-radius: 0px 10px 10px 10px;
}
.team-img{
    margin-top: 4rem;
}
.team-stack-one h1{
    margin-top: 2rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #303030;
}
.team-stack-one h2{
    margin-top: 1rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #303030;
}
.team-stack-one p{
    margin-top: 1rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #303030;
}
.team-stack-two h1{
    margin-top: 2rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #F3F0DD;
}
.team-stack-two h2{
    margin-top: 1rem;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #F3F0DD;
}
.team-stack-two p{
    margin-top: 1rem;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #F3F0DD;
}
.team-stack-three h1{
    margin-top: 2rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    text-align: center;

    color: #F3F0DD;
}
.team-stack-three h2{

    margin-top: 1rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #F3F0DD;
}
.team-stack-three p{
    margin-top: 1rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #F3F0DD;
}
.team-stack-four h1{
    margin-top: 2rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    text-align: center;

    color: #F3F0DD;
}
.team-stack-four h2{

    margin-top: 1rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #F3F0DD;
}
.team-stack-four p{
    margin-top: 1rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #F3F0DD;
}